<template name="projectDetail">
	{{ #if allowedToView _public }}

	<div class="well" style="float:left; margin-bottom:0px">
		<div class="col-xs-3 pull-right">
			<center>
			<div style="margin-bottom: 2px; font-size: 0.8em;">Project Activity</div>
			{{ #with this }}
				{{ >heatmap }}
			{{ /with }}
			</center>
		</div>

		<h1>{{ _name }}</h1>
		{{#unless _public}}
			(Private)
		{{/unless}}
		{{ #if currentUser }}
			<div>
				<button class="editProject" data-slug="{{_slug}}">Edit/Update Project</button>
			</div>
		{{ /if }}
		{{ #markdown }}{{ _desc }}{{ /markdown }}
		<div class="well">
			<ul>
			{{ #each existingfeaturearray this }}
				{{ > displayfeature }}
			{{ /each }}
			</ul>
		</div>
		<div class="well col-xs-12" style="margin-bottom:0px">
			<h4>Activity</h4>
			{{ #if currentUser }}
				{{ >addLogEntry this }}
			{{ /if }}
			{{ #each projectActivity this 0 }}
			  {{ >logEntry }}
			{{ /each }}
		</div>
	</div>
	{{ else }}
		{{ > postfeed }}
	{{ /if }}
</template>

<template name="displayfeature">
	<div>
		<li>{{ _feat }}</li>
	</div>
</template>