<template name="projectDetail">
	{{ #if allowedToView _public }}

	<div class="well">
		<div class="col-xs-3 pull-right">
			<center>
			<div style="margin: 0px 0px 10px 0px">Changelog</div>
			<div id="cal-heatmap"></div>
			<script type="text/javascript">
				var cal = new CalHeatMap();
				var date = new Date();
				date.setMonth(date.getMonth()-1);
				cal.init({
						itemSelector: "#cal-heatmap",
						domain: "month",
						subDomain: "x_day",
						cellSize: 14,
						subDomainTextFormat: "%d",
						range: 2,
						start: date,
						displayLegend: false,
						verticalOrientation: true,
						label: {
							offset: { x: 0, y: -5 },
							height: 10
						}
				});
			</script>
			</center>
		</div>

		<h1>{{ _name }}</h1>
		{{#unless _public}}
			(Private)
			<div>
				<button class="editProject" data-slug="{{_slug}}">Edit/Update Project</button>
			</div>
		{{/unless}}
		{{ #markdown }}{{ _desc }}{{ /markdown }}
	</div>
	{{ else }}
		{{ > postfeed }}
	{{ /if }}
</template>