.meteor/local
.meteor/meteorite

============
Secureness and SRG-Specific Content
============
settings.json
client/templates/SRG/

============
OS generated
============
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db
