<template name="gamesheader">
	<div class="row">
	  <div class="row-height">
	    <div class="col-xs-4 col-height col-top">
	      <div class="inside inside-full-height well">
	        <div class="content">{{ >mostDevActivity }}</div>
	      </div>
	    </div>
	    <div class="col-xs-4 col-height col-top">
	      <div class="inside inside-full-height well">
	        <div class="content">{{ >nextCompleted }}</div>
	      </div>
	    </div>
	    <div class="col-xs-4 col-height col-top">
	      <div class="inside inside-full-height well">
	        <div class="content">{{ >mostRecentActivity }}</div>
	      </div>
	    </div>
	   </div>
	</div>
</template>