<template name="globalHeatmap">
	<div id="global-heatmap"></div>
	<script type="text/javascript">
		var globalCal = new CalHeatMap();
		var date = new Date();
		date.setMonth(date.getMonth()-1);
		globalCal.init({
				itemSelector: "#global-heatmap",
				domain: "month",
				subDomain: "x_day",
				cellSize: 12,
				subDomainTextFormat: "%d",
				range: 2,
				start: date,
				displayLegend: false,
				verticalOrientation: false,
				// legendColors: {
				// 	min: "#f4decd",
				// 	max: "#761d15",
				// 	empty: "#ffffff"
				// },
				legend: [1, 2, 4, 8, 50000],
				label: {
					offset: { x: 0, y: 2 },
					position: "right",
					rotate: "right",
					height: 10,
					width: 18
				}
		});
	</script>
</template>