<template name="heatmap">
	<div id="cal-heatmap"></div>
	<script type="text/javascript">
		var cal = new CalHeatMap();
		var date = new Date();
		date.setMonth(date.getMonth()-1);
		cal.init({
				itemSelector: "#cal-heatmap",
				domain: "month",
				subDomain: "x_day",
				cellSize: 14,
				subDomainTextFormat: "%d",
				range: 2,
				start: date,
				displayLegend: false,
				verticalOrientation: true,
				legend: [1, 2, 4, 8, 50000],
				label: {
					offset: { x: 0, y: 2 },
					position: "right",
					rotate: "right",
					height: 10
				}
		});
	</script>
</template>